* {
  box-sizing: border-box;
}

:root { 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: dark; */

  color: #FFF;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #FFF;
  --color-dark: #1e1e1e;
  --color-gray-0 : #bcbcbc;
  --color-gray-1 : #666;
  --color-primary: #CFFF48;
}

body {
  margin: 0;
  padding: 0;
}
